<section id="footer">
    <div class="inner">
        <h2 class="major">Kontaktirajte nas</h2>
        <p>Napišite nam kratko sporočilo, na katero vam bomo odgovorili, lahko pa vas tudi kontaktiramo po telefonu, če nam ga boste podali.</p>
        {{ boltforms('contact') }}
        {#<form method="post" action="#">#}
            {#<div class="field">#}
                {#<label for="name">Ime</label>#}
                {#<input type="text" name="name" id="name" />#}
            {#</div>#}
            {#<div class="field">#}
                {#<label for="email">Email</label>#}
                {#<input type="email" name="email" id="email" />#}
            {#</div>#}
            {#<div class="field">#}
                {#<label for="message">Sporočilo</label>#}
                {#<textarea name="message" id="message" rows="4"></textarea>#}
            {#</div>#}
            {#<ul class="actions">#}
                {#<li><input type="submit" value="Pošlji sporočilo" /></li>#}
            {#</ul>#}
        {#</form>#}
        <ul class="contact">
            <li class="fa-home">
                <a href="https://www.google.si/maps/place/Ne%C5%BEin+dotik/@46.0052409,14.4176446,17z/data=!3m1!4b1!4m5!3m4!1s0x477ad36a95f4550b:0x608e3728925dca6e!8m2!3d46.0052409!4d14.4198333?hl=sl" target="_blank">
                    Neža Justin s.p.<br />
                    Vnanje Gorice 88<br />
                    1351 Brezovica pri Ljubljani
                </a>
            </li>
            <li class="fa-phone"><a href="tel:+38631676293">031-676-293</a></li>
            <li class="fa-envelope"><a href="mailto:info@limfnadrenaza.si">info@limfnadrenaza.si</a></li>
            {#<li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>#}
            <li class="fa-facebook"><a href="https://www.facebook.com/nezindotik/" target="_blank">facebook.com/nezindotik</a></li>
            {#<li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>#}
        </ul>
        <ul class="copyright">
            <li>&copy; Nežin dotik <script>document.write(new Date().getFullYear())</script>. Vse pravice pridržane.</li><li>Oblikovanje: <a href="http://html5up.net">HTML5 UP</a></li><li>Izdelava: <a href="http://rokrupnik.github.io/">Rok Rupnik</a></li>
        </ul>
    </div>
</section>